<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <style>{{MyStyle}}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Produkt</h2>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>ID_produktu</th>
                        <th>ID_materialu</th>
                        <th>nazwa</th>
                        <th>wymiar_X</th>
                        <th>wymiar_Y</th>
                        <th>wymiar_Z</th>
                    </tr>
                    {{records}}
                </table>
                <div class="add_form">
                    <form>
                        <label for="compName">Nazwa nowego komponentu</label><br>
                        <input type="text" name="compName" value="Deska1"><br>
                        <label for="matName">Nazwa materialu</label><br>
                        <input type="text" name="matName" value="Deska 19'"><br>

                        <label for="dimX">wymiar_X</label><br>
                        <input type="number" name="dimX" value="0"><br>
                        <label for="dimY">wymiar_Y</label><br>
                        <input type="number" name="dimY" value="0"><br>
                        <label for="dimZ">wymiar_Z</label><br>
                        <input type="number" name="dimZ" value="0"><br>

                        <input type="submit" value="Dodaj">
                    </form>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>