<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <style>{{MyStyle}}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Produkt na sprzedaz</h2>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>ID zlecenia</th>
                        <th>ID produktu</th>
                        <th>Nazwa produktu</th>
                        <th>Ilosc</th>
                        <th>Nazwa klienta</th>
                    </tr>
                    {{records}}
                </table>
                <div class="add_form">
                    <form>
                        <label for="prName">Nazwa nowego produkty</label><br>
                        <input type="text" name="prName" value=""><br>

                        <label for="prCount">Ilosc</label><br>
                        <input type="number" name="prCount" value="1"><br>

                        <input type="submit" value="Dodaj">
                    </form>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>