<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <style>{{MyStyle}}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                Stolarnia u Wuja
            </div>
            <div class="content">
                <a class="button" href="/show_Products">Wszystkie Produkty</a><br>
                
                <a class="button" href="/">Aktualne zlecenia</a><br>
                <a class="button" href="/">Zakonczone zlecenia</a><br>

                <a class="button" href="/show_ProductTypes">Rodzaje Produktow</a><br>
                <a class="button" href="/show_MaterialTypes">Rodzaje Materialow</a><br>
                <a class="button" href="/show_Clients">Klienci</a><br>
            </div>
            <div class="footer">
                <br> author <br>
                xyz; abc; cba
            </div>
        </div>
    </body>
</html>