<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <style>{{MyStyle}}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Zamowienia</h2>
            </div>
            <div class="content">
                <form>
                    <label for="data_start">Data zamowienia</label><br>
                    <input type="date" name="data_start" value=""><br>

                    <label for="data_dline">Ostateczny termin</label><br>
                    <input type="date" name="data_dline" value=""><br>

                    <input type="submit" value="Update">
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>