<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <style>{{MyStyle}}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Produkt</h2>
            </div>
            <div class="content">
                <div class="add_form">
                    <form>
                        <label for="prodName">Aktualizacja Nazwy Produktu</label><br>
                        <input type="text" name="prodName" value="Nowy"><br>

                        <label for="prodTypeName">Aktualizacja Rodzaju Produktu</label><br>
                        <input type="text" name="prodTypeName" value="Palety"><br>

                        <label for="prodPrice">Nowa Cena Robocizna</label><br>
                        <input type="number" name="prodPrice" value="0"><br>

                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>