<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <link rel="stylesheet" href="style/style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Produkty</h2>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>nazwa</th>
                    </tr>
                    {{records}}
                </table>
                <form action='/'>
                    <input type="submit" value="Cofnij">
                </form>
                <form method="POST" , enctype="multipart/form-data" action='/add_new_productType'>
                    <label for="prodType">Nazwa nowego rodzaju produktow</label><br>
                    <input type="text" name="prodType" value="Nowy"><br>
                    <input type="submit" value="Dodaj">
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>