<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stolarnia</title>

        <style>{{MyStyle}}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Produkty</h2>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>nazwa</th>
                        <th>cene za jednostke</th>
                    </tr>
                    {{records}}
                </table>
                <div class="add_form">
                    <form method="POST" , enctype="multipart/form-data" action='/add_new_materialType'>
                        <label for="matType">Nazwa nowego materialu</label><br>
                        <input type="text" name="matType" value="Nowy"><br>

                        <label for="matPrice">Cena</label><br>
                        <input type="number" name="matPrice" value="0"><br>

                        <input type="submit" value="Dodaj">
                    </form>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>